{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="{% static 'dashboard/javascript/d3.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/style.css' %}">
  <title></title>
</head>

<body>
  <div class="inflation_header">
    <h2 class="article_title">Economic Decline and No-Deal with EU, Prelude for more Austerity</h2>
    <img src="/static/dashboard/img/treasury_medium.jpg" id="front_image_debt"></div>
  <div id="vis_debt"></div>
  </div>
  <article>
    <p>Since the referendum, not only businesses and consumers have lost confidence and felt uncertainty about the future of the economy. The international market also issued a warning, when all the three-major
      bond credit rating agencies downgraded the UK’s rating, a move that may increase the cost of debt, straining the capacity of the government to invest more in social welfare after seven years of austerity. <br/><br/> Brexit is slowing growth, that
      translates in less income to reduce deficit and public debt. Also, the Brexit vote hit the pound, increasing consumer prices and tightening living standards, which in turn reduced the household spending in services, the main economic activity in
      the UK. <br/><br/> This prospect caused alerted credit agencies. Moody’s Investors Service downgraded UK’s long-term rating to Aaa2 from Aa1, and changed the outlook to stable from negative last September (Moody’s, 2017). The same agency downgraded
      the rating from the highest AAA mark to Aa1 in 2013 amid concerns of sluggish growth and the rise of debt burden. <br/><br/> Just after the Brexit vote, Fitch downgraded the UK’s rating to AA from AA+, the highest rating, and changed the outlook
      to negative. Likewise, S&P downgraded the rating after the referendum in 2016, to AA with negative outlook (Platt and Hale, 2017). <br/><br/> There were two main factors that prompted Moody´s to downgrade UK’s rating this year. The first one concerning
      with the inherent weakness of British public finances and the second it was related to Brexit: <br/><br/> Fiscal pressures will be exacerbated by the erosion of the UK's medium-term economic strength that is likely to result from the manner of its
      departure from the European Union (EU), and by the increasingly apparent challenges to policy-making given the complexity of Brexit negotiations and associated domestic political dynamics (Moody’s, 2017). <br/><br/> Deficit and Debt Burden, persistent
      problems<br/><br/> Since the Brexit vote in June 2016, the government debt reached 87% –£1.8 trillion– of GDP according to last September figure (ONS, 2017). However, the debt has been increasing steadily since the days of the financial crisis of
      2008. Early that year the debt was only 34% of UK’s economic output. <br/><br/> In the last financial year, the public-sector net borrowing, also known as the deficit, was 2.3% of the GDP, which represented an annual decrease of £28 billion pounds.
      The deficit has declined substantially after seven years of spending cuts. In 2010, the deficit reached almost 10% of the GDP, just after two years of the onset of the financial crisis. <br/><br/> The government may still meet the goals of reducing
      deficit and debt, according to the Office for Budget Responsibility (OBR, 2017), however, it is not expected to return balance to public finances in the next Parliament: <br/><br/> The deficit falls little in 2020-21 and 2021-22, while the ageing
      population and cost pressures in health are likely to put upward pressure on the deficit in the next Parliament (OBR, 2017). <br/><br/> Moody’s, Standard & Poor’s (S&P) and Fitch ratings are used by financial institutions to determine the cost of
      credit to their lenders. Therefore, governments can experience financial pressure from private investors through credit agencies if the performance of public finances is not within the expectations. This pressure and some of the recommendations
      in some cases may go against public interest. <br/><br/> This amounts to government failure and is the result of the abdication by authorities of what should be a public function (…) The vicious cycle generated by the rounds of rating downgrades
      of peripheral Eurozone countries in the spring of 2010, precipitating debt crises at national levels (Gavras, 2010). <br/><br/> Hence, one of the main concerns of Moody’s, is the current UK government intention to increase spending on welfare programs.
      The agency perceive weakness in UK’s public finances, and their incapacity to reduce debt burden, even after seven years of austerity in areas such as social welfare: <br/><br/> Since 2015, the government has been finding it increasingly difficult
      to implement the spending cuts that it has been targeting, in particular on welfare spending. More recently, the government has yielded to pressure and raised spending in several areas, including for health and adult social care (Moody’s, 2017).
      <br/><br/> The UK government cut spending after the financial crisis as one of the measures to stabilize the economy. The public expenditure on services was reduced to 37% of the GDP in 2016, from 42% in 2010. This type of spending has remained
      stagnant in around £700 billion pounds (HM Treasury, 2017). <br/><br/> Most services experienced a cut in that period. For instance, Education spending was reduced to 4.4% of the GDP in 2016 from 5.8% in 2010, a decline of more than £15 billion
      pounds. Health expenditure has also decreased in proportion to the size of the UK economy, to 7.3% of GDP in 2016, from 7.6% of GDP in 2010, even when the nominal value increased almost £11 billion pounds in that same period, according to the HM
      Treasure statistics (2017). <br/><br/> Housing, public order and defence expenditure also experienced cuts, and now they operate with resources below the budget prior to the financial crisis. Therefore, the UK government has less space to reduce
      spending in case Brexit has a significant impact on the economy. <br/><br/> As a result of this scenario, Moody’s also showed concern about the arrangement between the government and the Democratic Unionist Party (DUP) to reach parliamentary majority.
      The agreement includes spending one billion pounds in Northern Ireland. Furthermore, the government is expected to keep the same sources of income, since the plan to increase national insurance contributions for the self-employed was abandoned.
      <br/><br/> In addition to these measures, Moody’s has no longer confidence on the capacity of the UK government to reach a free trade agreement with the EU before 2019, a scenario that will harm growth in the coming years mainly by a substantial
      lower trade with the UK’s main economic partner, and therefore: <br/><br/> The loss of economic strength will further exacerbate pressures on fiscal consolidation (..) While future years may see some recovery, Moody's expects growth of just 1% in
      2018 following 1.5% this year and 2.25% on average in recent years. More importantly for the UK's credit profile, Moody's does not expect growth to recover to its historic trend rate over the coming years (Moody’s, 2017). <br/><br/>
    </p>
  </article>
</body>

<script>
  var debt = {{ debt_json | safe }}

  var margin = {
    top: 50,
    left: 60,
    right: 30,
    bottom: 50,
  };

  var width = 500;
  var height = 400;

  var svg_gdp = d3.select('#vis_debt')
    .append('svg')
    .attr('width', width)
    .attr('height', height)
    .append('g')
    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

  svg_gdp.append("linearGradient")
    .attr("id", "line-gradient")
    .attr("gradientUnits", "userSpaceOnUse")
    .attr("x1", 0).attr("y1", "0%")
    .attr("x2", 0).attr("y2", "100%")
    .selectAll("stop")
    .data([{
        offset: "0%",
        color: "red"
      },
      {
        offset: "60%",
        color: "skyblue"
      },
      {
        offset: "100%",
        color: "skyblue"
      }
    ])
    .enter().append("stop")
    .attr("offset", function(d) {
      return d.offset;
    })
    .attr("stop-color", function(d) {
      return d.color;
    });

  var tooltip = d3.select('body')
    .append('div')
    .attr('class', 'tooltip');

  width = width - margin.left - margin.right;
  height = height - margin.top - margin.bottom;

  var dateParse = d3.timeParse('%Y %b');
  var tooltipFormat = d3.timeFormat('%Y');


  var x = d3.scaleTime()
    .range([0, width]);

  var y = d3.scaleLinear()
    .domain(d3.extent(debt, function(d) {
      return parseFloat(d.value);
    }))
    .range([height, 0]);

  var x_axis = d3.axisBottom(x)
  var y_axis = d3.axisLeft(y)

  svg_gdp.append('g')
    .attr('transform', 'translate(0,' + height + ')')
    .attr('class', 'x axis');

  // Labels
  svg_gdp.append("text")
    .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top) + ")")
    .style("text-anchor", "middle")
    .text("Year");

  svg_gdp.append('g')
    .attr('class', 'y axis')

  // y label
  svg_gdp.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 10 - margin.left)
    .attr("x", 0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("debt %");

  svg_gdp.append("text")
    .attr("x", (width / 2))
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "18px")
    .text("UK's debt burden");

  function make_x_gridlines() {
    return d3.axisBottom(x)
      .ticks(0);
  }

  function make_y_gridlines() {
    return d3.axisLeft(y)
      .ticks(10);
  }

  // add the X gridlines
  svg_gdp.append("g")
    .attr("class", "grid")
    .attr("transform", "translate(0," + height + ")")
    .call(make_x_gridlines()
      .tickSize(-height)
      .tickFormat("")
    );
  // add the Y gridlines
  svg_gdp.append("g")
    .attr("class", "grid")
    .call(make_y_gridlines()
      .tickSize(-width)
      .tickFormat("")
    );

  // function expenditure_pounds() {

  x.domain(d3.extent(debt, function(d) {
    return dateParse(d.date);
  }));

  var line = d3.line()
    .curve(d3.curveCatmullRom)
    .x(function(d) {
      return x(dateParse(d.date));
    })
    .y(function(d) {
      return y(d.value);
    });

  var lines = svg_gdp.selectAll('.line')
    .remove()
    .exit()
    .data([debt]);
  console.log(lines)

  lines
    .enter()
    .append('path')
    .attr('class', 'line')
    .attr('fill', 'none')
    // .attr('stroke', 'steelblue')
    .attr('d', line);

  var points = svg_gdp.selectAll('.point')
    .remove()
    .exit()
    .data(debt);

  points
    .enter()
    .append('circle')
    .attr('class', 'point')
    .attr('r', 1)
    .attr('cx', function(debt) {
      return x(dateParse(debt.date));
    })
    .attr('cy', function(debt) {
      return y(debt.value);
    })
    .attr('fill', 'black')
    .attr('opacity', 1)
    .on('mouseover', mouseOver)
    .on('mousemove', mouseMove)
    .on('mouseout', mouseOut);

  svg_gdp.select('.x.axis')
    .call(x_axis)
    .selectAll('text')
    .attr('transform', 'rotate(30)')
    .attr('y', '10')
    .attr('x', '0')
    .style("text-anchor", "start");

  svg_gdp.select('.y.axis')
    .call(y_axis)

  function mouseOver(d) {
    var date = dateParse(d.date);
    var displayDate = tooltipFormat(date)
    var value_function = d.value;

    d3.select(this)
      .transition()
      .style('opacity', 1);

    tooltip
      .style('display', null)
      .html('<p>UK debt was ' + value_function + ' in ' + displayDate + '</p>');
  }

  function mouseMove(d) {
    tooltip
      .style('top', (d3.event.pageY - 20) + "px")
      .style('left', (d3.event.pageX + 20) + "px");
  }

  function mouseOut(d) {
    d3.select(this)
      .transition()
      .style('opacity', 1);

    tooltip
      .style('display', 'none');

  }
</script>

</html>
