{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/style.css' %}">
  <script src="{% static 'dashboard/javascript/d3.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <title></title>
</head>

<body>
  <div class="inflation_header">
    <h2 class="article_title">Inflation and real income drop put pressure on consumers</h2>
    <img src="/static/dashboard/img/tenner_medium.jpg" id="front_image_inflation"></div>
  <div id="vis_inflation"></div>
  </div>
  <div>

    <!-- Dropdown -->
    <form method="post" action="/indicators/inflation/" id="indicator_form_inflation">
      {% csrf_token %}
      <br>
      <select type="text" name="years" id="select_dropdown">
        <option value="24">Since the financial crisis</option>
        <option value="120">After the Brexit vote</option>
      </select>
      <br>
      <!-- Botton -->
      <!-- <button id="Brexit_vote" name="years" value="211" type="botton">Growth since Brexit vote</button> -->
      <!-- Dropdown -->
      <button class="indicator_botton" id="inflation_button" type="botton">Inflation</button>
    </form>
    <!-- Botton -->
    <form method="post" action="/data/productivity/" id="productivity">
      {% csrf_token %}
      <button class="indicator_botton" id="productivity_button" type="botton">Productivity</button>
    </form>
    <form method="post" action="/data/income/" id="income">
      {% csrf_token %}
      <button class="indicator_botton" id="income_button" type="botton">Real Income</button>
    </form>
  </div>
  <article>
    <p>Hello World!</p>
  </article>
</body>
<script src="{% static 'dashboard/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script>
  var inflation = {{ inflation_json | safe }}

  var margin = {
    top: 50,
    left: 60,
    right: 30,
    bottom: 50,
  };

  var width = 500;
  var height = 400;

  var svg = d3.select('#vis_inflation')
    .append('svg')
    .attr('width', width)
    .attr('height', height)
    .append('g')
    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

  svg.append("linearGradient")
    .attr("id", "line-gradient")
    .attr("gradientUnits", "userSpaceOnUse")
    .attr("x1", 0).attr("y1", "0%")
    .attr("x2", 0).attr("y2", "100%")
    .selectAll("stop")
    .data([{
        offset: "0%",
        color: "red"
      },
      {
        offset: "60%",
        color: "skyblue"
      },
      {
        offset: "100%",
        color: "skyblue"
      }
    ])
    .enter().append("stop")
    .attr("offset", function(d) {
      return d.offset;
    })
    .attr("stop-color", function(d) {
      return d.color;
    });

  var tooltip = d3.select('body')
    .append('div')
    .attr('class', 'tooltip');

  width = width - margin.left - margin.right;
  height = height - margin.top - margin.bottom;

  var dateParse = d3.timeParse('%Y %b');
  var tooltipFormat = d3.timeFormat('%Y');

  var x = d3.scaleTime()
    .range([0, width]);

  var y = d3.scaleLinear()
    .domain(d3.extent(inflation, function(d) {
      return parseFloat(d.value);
    }))
    .range([height, 0]);

  var x_axis = d3.axisBottom(x)
  var y_axis = d3.axisLeft(y)

  // x label
  svg.append('g')
    .attr('transform', 'translate(0,' + height + ')')
    .attr('class', 'x axis');

  svg.append("text")
    .attr("id", "tags")
    .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + -2) + ")")
    .style("text-anchor", "middle")
    .text("Years");

  // y label
  svg.append('g')
    .attr('class', 'y axis')

  svg.selectAll('#tags')
    .remove()

  svg.append("text")
    .attr("id", "tags")
    .attr("transform", "rotate(-90)")
    .attr("y", 10 - margin.left)
    .attr("x", 0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Year-to-Year inflation %");

  svg.append("text")
    .attr("x", (width / 2))
    .attr("id", "tags")
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "18px")
    .text("Inflation spiked after the Brexit vote");

  function make_x_gridlines() {
    return d3.axisBottom(x)
      .ticks(0);
  }

  function make_y_gridlines() {
    return d3.axisLeft(y)
      .ticks(10);
  }

  // add the X gridlines
  svg.append("g")
    .attr("class", "grid")
    .attr("transform", "translate(0," + height + ")")
    .call(make_x_gridlines()
      .tickSize(-height)
      .tickFormat("")
    );
  // add the Y gridlines
  svg.append("g")
    .attr("class", "grid")
    .call(make_y_gridlines()
      .tickSize(-width)
      .tickFormat("")
    );

  x.domain(d3.extent(inflation, function(d) {
    return dateParse(d.date);
  }));

  y.domain(d3.extent(inflation, function(d) {
    return parseFloat(d.value);
  }));

  var line = d3.line()
    .curve(d3.curveCatmullRom)
    .x(function(d) {
      return x(dateParse(d.date));
    })
    .y(function(d) {
      return y(d.value);
    });

  var lines = svg.selectAll('.line')
    .remove()
    .exit()
    .data([inflation]);
  console.log(lines)

  lines
    .enter()
    .append('path')
    .attr('class', 'line')
    .attr("id", "tags")
    .attr('fill', 'none')
    .attr('d', line);

  svg.selectAll('.line')
    .transition()
    .duration(1000)

  var points = svg.selectAll('.point')
    .remove()
    .exit()
    .data(inflation);

  points
    .enter()
    .append('circle')
    .attr('class', 'point')
    .attr('r', 2.5)
    .attr('cx', function(inflation) {
      return x(dateParse(inflation.date));
    })
    .attr('cy', function(inflation) {
      return y(inflation.value);
    })
    .attr('fill', 'blue')
    .attr('opacity', 1)
    .on('mouseover', mouseOver)
    .on('mousemove', mouseMove)
    .on('mouseout', mouseOut);

  svg.select('.x.axis')
    .call(x_axis)
    .selectAll('text')
    .attr('transform', 'rotate(30)')
    .attr('y', '10')
    .attr('x', '0')
    .style("text-anchor", "start");

  svg.select('.y.axis')
    .call(y_axis)

  function mouseOver(d) {
    var date = dateParse(d.date);
    var displayDate = tooltipFormat(date)
    var value_function = d.value;

    d3.select(this)
      .transition()
      .style('opacity', 1);

    tooltip
      .style('display', null)
      .html('<p>UK inflation was ' + value_function + ' in ' + displayDate + '<br/>Source: ONS' + '</p>');
  }

  function mouseMove(d) {
    tooltip
      .style('top', (d3.event.pageY - 20) + "px")
      .style('left', (d3.event.pageX + 20) + "px");
  }

  function mouseOut(d) {
    d3.select(this)
      .transition()
      .style('opacity', 1);

    tooltip
      .style('display', 'none');

  }

  // INFLATION MONTHLY
  $(document).on('submit', '#indicator_form_inflation', function(e) {
    e.preventDefault();

    $.ajax({
      url: "/data/inflation/",
      type: "POST", // or "get"
      data: {
        years: $('#select_dropdown').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function inflation_graph(inflation) {

        svg.selectAll('#tags')
          .remove()

        svg.append("text")
          .attr("id", "tags")
          .attr("x", (width / 2))
          .attr("y", 0 - (margin.top / 2))
          .attr("text-anchor", "middle")
          .style("font-size", "18px")
          .text("Inflation increased in most components");

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "rotate(-90)")
          .attr("y", 10 - margin.left)
          .attr("x", 0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("Monthly annual rate inflation %")

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + -2) + ")")
          .style("text-anchor", "middle")
          .text("Months");

        var dateParse = d3.timeParse('%Y %b');
        var tooltipFormat = d3.timeFormat('%Y %b');


        x.domain(d3.extent(inflation, function(d) {
          return dateParse(d.date);
        }));

        y.domain(d3.extent(
          [].concat(inflation.map(function(d) {
            return parseFloat(d.food);
          }), inflation.map(function(d) {
            return parseFloat(d.alcohol);
          }), inflation.map(function(d) {
            return parseFloat(d.clothing);
          }), inflation.map(function(d) {
            return parseFloat(d.cpih);
          }), inflation.map(function(d) {
            return parseFloat(d.housing);
          }), inflation.map(function(d) {
            return parseFloat(d.furniture);
          }), inflation.map(function(d) {
            return parseFloat(d.health);
          }), inflation.map(function(d) {
            return parseFloat(d.transport);
          }), inflation.map(function(d) {
            return parseFloat(d.communication);
          }), inflation.map(function(d) {
            return parseFloat(d.recreation);
          }))));

        // y.domain(d3.extent(inflation, function(d) {
        //   return parseFloat(d.alcohol);
        // }));

        var line = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.cpih);
          });

        var line_food = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.food);
          });

        var line_alcohol = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.alcohol);
          });

        var line_clothing = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.clothing);
          });

        var line_housing = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.housing);
          });

        var line_furniture = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.furniture);
          });

        var line_health = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.health);
          });

        var line_transport = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.transport);
          });

        var line_communication = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.communication);
          });

        var line_recreation = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.recreation);
          });

        // var remove_lines = svg.selectAll('#lines')
        //   .remove()
        //   .exit()

        var lines = svg.selectAll('.line')
          .remove()
          .exit()
          .data([inflation]);
        console.log(lines)

        var lines = svg.selectAll('.line_cpih')
          .remove()
          .exit()
          .data([inflation]);

        var lines_s = svg.selectAll('.line_food')
          .remove()
          .exit()
          .data([inflation]);

        var lines_p = svg.selectAll('.line_alcohol')
          .remove()
          .exit()
          .data([inflation]);

        var lines_m = svg.selectAll('.line_clothing')
          .remove()
          .exit()
          .data([inflation]);

        var lines_c = svg.selectAll('.line_housing')
          .remove()
          .exit()
          .data([inflation]);

        var lines_f = svg.selectAll('.line_furniture')
          .remove()
          .exit()
          .data([inflation]);

        var lines_h = svg.selectAll('.line_health')
          .remove()
          .exit()
          .data([inflation]);

        var lines_t = svg.selectAll('.line_transport')
          .remove()
          .exit()
          .data([inflation]);

        var lines_com = svg.selectAll('.line_communication')
          .remove()
          .exit()
          .data([inflation]);

        var lines_r = svg.selectAll('.line_recreation')
          .remove()
          .exit()
          .data([inflation]);

        lines
          .enter()
          .append('path')
          .attr('class', 'line_cpih')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line);

        lines_s
          .enter()
          .append('path')
          .attr('class', 'line_food')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_food);

        lines_p
          .enter()
          .append('path')
          .attr('class', 'line_alcohol')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_alcohol);

        lines_m
          .enter()
          .append('path')
          .attr('class', 'line_clothing')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_clothing);

        lines_c
          .enter()
          .append('path')
          .attr('class', 'line_housing')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_housing);

        lines_f
          .enter()
          .append('path')
          .attr('class', 'line_furniture')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_furniture);

        lines_h
          .enter()
          .append('path')
          .attr('class', 'line_health')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_health);

        lines_t
          .enter()
          .append('path')
          .attr('class', 'line_transport')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_transport);

        lines_com
          .enter()
          .append('path')
          .attr('class', 'line_communication')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_communication);

        lines_r
          .enter()
          .append('path')
          .attr('class', 'line_recreation')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_recreation);

        var points = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_s = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_p = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_m = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_c = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_f = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_h = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_t = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_com = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_r = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        points
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.cpih);
          })
          .attr('fill', 'blue')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_s
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.food);
          })
          .attr('fill', 'red')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_p
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.alcohol);
          })
          .attr('fill', 'orange')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_m
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.clothing);
          })
          .attr('fill', 'green')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_c
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.housing);
          })
          .attr('fill', 'black')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_f
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.furniture);
          })
          .attr('fill', 'purple')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_h
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.health);
          })
          .attr('fill', 'yellow')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_t
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.transport);
          })
          .attr('fill', 'brown')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_com
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.communication);
          })
          .attr('fill', 'grey')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_r
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.recreation);
          })
          .attr('fill', 'gold')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        svg.select('.x.axis')
          .call(x_axis)
          .selectAll('text')
          .attr('transform', 'rotate(30)')
          .attr('y', '10')
          .attr('x', '0')
          .style("text-anchor", "start");

        svg.select('.y.axis')
          .call(y_axis)

        function mouseOver(d) {
          var date = dateParse(d.date);
          var displayDate = tooltipFormat(date)
          var cpih_function = d.cpih;
          var food_cpih = d.food;
          var alcohol_cpih = d.alcohol;
          var clothing_cpih = d.clothing;
          var housing_cpih = d.housing;
          var furniture_cpih = d.furniture;
          var health_cpih = d.health;
          var transport_cpih = d.transport;
          var communication_cpih = d.communication;
          var recreation_cpih = d.recreation;

          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', null)
            .html('<p><strong id="cpih">Inflation:</strong> ' + cpih_function + '% in ' + displayDate + '<br><strong id="food">food:</strong> ' + food_cpih + '% in ' + displayDate +
              '<br><strong id="alcohol">alcohol:</strong> ' + alcohol_cpih + '% in ' + displayDate + '<br><strong id="clothing">clothing:</strong> ' + clothing_cpih + '% in ' + displayDate +
              '<br><strong id="housing">housing:</strong> ' + housing_cpih + '% in ' + displayDate +
              '<br><strong id="furniture">furniture:</strong> ' + furniture_cpih + '% in ' + displayDate +
              '<br><strong id="health">health:</strong> ' + health_cpih + '% in ' + displayDate +
              '<br><strong id="transport">transport:</strong> ' + transport_cpih + '% in ' + displayDate +
              '<br><strong id="communication">communication:</strong> ' + communication_cpih + '% in ' + displayDate +
              '<br><strong id="recreation">recreation:</strong> ' + recreation_cpih + '% in ' + displayDate + '<br/>Source: ONS');
        }

        function mouseMove(d) {
          tooltip
            .style('top', (d3.event.pageY - 20) + "px")
            .style('left', (d3.event.pageX + 20) + "px");
        }

        function mouseOut(d) {
          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', 'none');

        }
      }
    });
  });

  // PRODUCTIVITY
  $(document).on('submit', '#productivity', function(e) {
    e.preventDefault();

    $.ajax({
      url: "/data/productivity/",
      type: "POST", // or "get"
      data: {
        years: $('#select_dropdown').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function productivity(productivity) {

        svg.selectAll('#tags')
          .remove()

        svg.append("text")
          .attr("x", (width / 2))
          .attr("id", "tags")
          .attr("y", 0 - (margin.top / 2))
          .attr("text-anchor", "middle")
          .style("font-size", "18px")
          .text("UK's productivity remains stangnant");

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "rotate(-90)")
          .attr("y", 10 - margin.left)
          .attr("x", 0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("GDP per hour worked")

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + -2) + ")")
          .style("text-anchor", "middle")
          .text("Years");

        var dateParse = d3.timeParse('%Y');
        var tooltipFormat = d3.timeFormat('%Y');

        x.domain(d3.extent(productivity, function(d) {
          return dateParse(d.date);
        }));

        y.domain(d3.extent(
          [].concat(inflation.map(function(d) {
            return parseFloat(d.UK);
          }), productivity.map(function(d) {
            return parseFloat(d.EU);
          }), productivity.map(function(d) {
            return parseFloat(d.G7);
          }), productivity.map(function(d) {
            return parseFloat(d.OECD);
          }))));

        var line_UK = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.UK);
          });

        var line_OECD = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.OECD);
          });

        var line_EU = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.EU);
          });

        var line_G7 = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.G7);
          });

        var lines_s = svg.selectAll('.line_UK')
          .remove()
          .exit()
          .data([productivity]);
        console.log(lines_s)

        var lines_p = svg.selectAll('.line_OECD')
          .remove()
          .exit()
          .data([productivity]);

        var lines_m = svg.selectAll('.line_EU')
          .remove()
          .exit()
          .data([productivity]);

        var lines_c = svg.selectAll('.line_G7')
          .remove()
          .exit()
          .data([productivity]);

        lines_s
          .enter()
          .append('path')
          .attr('class', 'line_UK')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_UK);

        console.log(lines_s)

        lines_p
          .enter()
          .append('path')
          .attr('class', 'line_OECD')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_OECD);

        lines_m
          .enter()
          .append('path')
          .attr('class', 'line_EU')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_EU);

        lines_c
          .enter()
          .append('path')
          .attr('class', 'line_G7')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_G7);

        var points = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        var points_s = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        var points_p = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        var points_m = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        var points_c = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        points_s
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(productivity) {
            return x(dateParse(productivity.date));
          })
          .attr('cy', function(productivity) {
            return y(productivity.UK);
          })
          .attr('fill', 'red')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_p
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(productivity) {
            return x(dateParse(productivity.date));
          })
          .attr('cy', function(productivity) {
            return y(productivity.OECD);
          })
          .attr('fill', 'orange')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_m
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(productivity) {
            return x(dateParse(productivity.date));
          })
          .attr('cy', function(productivity) {
            return y(productivity.EU);
          })
          .attr('fill', 'green')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_c
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(productivity) {
            return x(dateParse(productivity.date));
          })
          .attr('cy', function(productivity) {
            return y(productivity.G7);
          })
          .attr('fill', 'black')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        svg.select('.x.axis')
          .call(x_axis)
          .selectAll('text')
          .attr('transform', 'rotate(30)')
          .attr('y', '10')
          .attr('x', '0')
          .style("text-anchor", "start");

        svg.select('.y.axis')
          .call(y_axis)

        function mouseOver(d) {
          var date = dateParse(d.date);
          var displayDate = tooltipFormat(date)
          var UK = d.UK;
          var OECD = d.OECD;
          var EU = d.EU;
          var G7 = d.G7;

          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', null)
            .html('<p><strong id="UK">UK:</strong> ' + UK + ' in ' + displayDate + '<br><strong id="OECD">OECD:</strong> ' + OECD + ' in ' + displayDate + '<br><strong id="EU">EU:</strong> ' + EU + ' in ' + displayDate +
              '<br><strong id="G7">G7:</strong> ' + G7 + ' in ' + displayDate + '<br/>Source: OECD');
        }

        function mouseMove(d) {
          tooltip
            .style('top', (d3.event.pageY - 20) + "px")
            .style('left', (d3.event.pageX + 20) + "px");
        }

        function mouseOut(d) {
          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', 'none');

        }
      }
    });
  });


  // INCOME
  $(document).on('submit', '#income', function(e) {
    e.preventDefault();

    $.ajax({
      url: "/data/income/",
      type: "POST", // or "get"
      data: {
        years: $('#select_dropdown').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function income(income) {

        svg.selectAll('#tags')
          .remove()

        svg.append("text")
          .attr("x", (width / 2))
          .attr("id", "tags")
          .attr("y", 0 - (margin.top / 2))
          .attr("text-anchor", "middle")
          .style("font-size", "18px")
          .text("UK's income declined after Brexit vote");

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "rotate(-90)")
          .attr("y", 10 - margin.left)
          .attr("x", 0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("Real income % Year-to-Year growth")

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + -2) + ")")
          .style("text-anchor", "middle")
          .text("Quarters");

        var dateParse = d3.timeParse('%Y %b');
        var tooltipFormat = d3.timeFormat('%Y %b');

        x.domain(d3.extent(income, function(d) {
          return dateParse(d.date);
        }));

        y.domain(d3.extent(income, function(d) {
          return parseFloat(d.growth);
        }));

        var line_income = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.growth);
          });

        var lines_s = svg.selectAll('.line_income')
          .remove()
          .exit()
          .data([income]);
        console.log(lines_s)

        lines_s
          .enter()
          .append('path')
          .attr('class', 'line_income')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_income);

        console.log(lines_s)


        var points = svg.selectAll('.point')
          .remove()
          .exit()
          .data(income);

        var points_s = svg.selectAll('.point')
          .remove()
          .exit()
          .data(income);

        points_s
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(income) {
            return x(dateParse(income.date));
          })
          .attr('cy', function(income) {
            return y(income.growth);
          })
          .attr('fill', 'red')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        svg.select('.x.axis')
          .call(x_axis)
          .selectAll('text')
          .attr('transform', 'rotate(30)')
          .attr('y', '10')
          .attr('x', '0')
          .style("text-anchor", "start");

        svg.select('.y.axis')
          .call(y_axis)

        function mouseOver(d) {
          var date = dateParse(d.date);
          var displayDate = tooltipFormat(date)
          var income_growth = d.growth;

          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', null)
            .html('<p><strong id="Real income growth">UK:</strong> ' + income_growth + ' in ' + displayDate + '<br>Source: ONS');
        }

        function mouseMove(d) {
          tooltip
            .style('top', (d3.event.pageY - 20) + "px")
            .style('left', (d3.event.pageX + 20) + "px");
        }

        function mouseOut(d) {
          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', 'none');

        }
      }

    });
  });



  // success: function income(income) {
  //
  //   console.log(income)
  //
  //   svg.selectAll('#tags')
  //     .remove()
  //
  //   svg.append("text")
  //     .attr("x", (width / 2))
  //     .attr("id", "tags")
  //     .attr("y", 0 - (margin.top / 2))
  //     .attr("text-anchor", "middle")
  //     .style("font-size", "18px")
  //     .text("UK's income decreased since Brexit vote");
  //
  //   svg.append("text")
  //     .attr("id", "tags")
  //     .attr("transform", "rotate(-90)")
  //     .attr("y", 10 - margin.left)
  //     .attr("x", 0 - (height / 2))
  //     .attr("dy", "1em")
  //     .style("text-anchor", "middle")
  //     .text("Real income per capita Y-on-Y % change")
  //
  //   svg.append("text")
  //     .attr("id", "tags")
  //     .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + -2) + ")")
  //     .style("text-anchor", "middle")
  //     .text("Quarters");
  //
  //   var dateParse = d3.timeParse('%Y %b');
  //   var tooltipFormat = d3.timeFormat('%Y %b');
  //
  //   x.domain(d3.extent(income, function(d) {
  //     return dateParse(d.date);
  //   }));
  //
  //   y.domain(d3.extent(income, function(d) {
  //     return d['Growth Rate'];
  //     }));
  //
  //   var income = d3.line()
  //     .curve(d3.curveCatmullRom)
  //     .x(function(d) {
  //       return x(dateParse(d.date));
  //     })
  //     .y(function(d) {
  //       return y(d['Growth Rate']);
  //     });
  //
  //   var lines_s = svg.selectAll('.income')
  //     .remove()
  //     .exit()
  //     .data([income]);
  //
  //   lines_s
  //     .enter()
  //     .append('path')
  //     .attr('class', 'income')
  //     .attr("id", "tags")
  //     .attr('fill', 'none')
  //     .attr('d', income);
  //   console.log(lines_s)
  //
  //   var points = svg.selectAll('.point')
  //     .remove()
  //     .exit()
  //     .data(income);
  //
  //   var points_s = svg.selectAll('.point')
  //     .remove()
  //     .exit()
  //     .data(income);
  //
  //   points_s
  //     .enter()
  //     .append('circle')
  //     .attr('class', 'point')
  //     .attr("id", "tags")
  //     .attr('r', 2.5)
  //     .attr('cx', function(income) {
  //       return x(dateParse(income.date));
  //     })
  //     .attr('cy', function(income) {
  //       return y(income['Growth Rate']);
  //     })
  //     .attr('fill', 'red')
  //     .attr('opacity', 1)
  //     .on('mouseover', mouseOver)
  //     .on('mousemove', mouseMove)
  //     .on('mouseout', mouseOut);
  //
  //   svg.select('.x.axis')
  //     .call(x_axis)
  //     .selectAll('text')
  //     .attr('transform', 'rotate(30)')
  //     .attr('y', '10')
  //     .attr('x', '0')
  //     .style("text-anchor", "start");
  //
  //   svg.select('.y.axis')
  //     .call(y_axis)
  //
  //   function mouseOver(d) {
  //     var date = dateParse(d.date);
  //     var displayDate = tooltipFormat(date)
  //     var income = d['Growth Rate'];
  //
  //     d3.select(this)
  //       .transition()
  //       .style('opacity', 1);
  //
  //     tooltip
  //       .style('display', null)
  //       .html('<p><strong id="UK">UK:</strong> ' + income + ' in ' + displayDate + '<br>Source: ONS');
  //   }
  //
  //   function mouseMove(d) {
  //     tooltip
  //       .style('top', (d3.event.pageY - 20) + "px")
  //       .style('left', (d3.event.pageX + 20) + "px");
  //   }
  //
  //   function mouseOut(d) {
  //     d3.select(this)
  //       .transition()
  //       .style('opacity', 1);
  //
  //     tooltip
  //       .style('display', 'none');
  //
  //   }
  // }
</script>

</html>
